@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wallpaper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
}
body{
    background-color: #FDEDEE;
}
.logo-ifood{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}
.container{
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 300px;
    border-radius: 10px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.144);
}
.container > h1{
    text-align: center;
    font-family: 'Poppins';
}

.container > h2{
    font-family: 'Poppins';
    text-align: center;
    font-weight: normal;
}
.facebook-btn{
    padding: 15px;
    background-color: #4065B4;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins';
    font-weight: bolder;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.google-btn{
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.808);
    font-family: 'Poppins';
    font-weight: bolder;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.144);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.google-btn:hover{
    background-color: #e7dada;
}
.facebook-btn:hover{
    background-color: #2f4c8a;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btns > button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: #A6A6A6;
    font-family: 'Poppins';
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    cursor: pointer;
}
.btns > button:hover{
    background-color: #EA1D2C;
    color: white;
}
@media(max-width: 1100px){
    .container{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .wallpaper{
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
    }
}
@media(max-width: 600px){
    .container{
        width: 360px;
        height: 480px;
        padding: 36px;
    }
    .facebook-btn, .google-btn{
        padding: 10px;
    }
    .btns > button{
        width: 135px;
    }
    .container > h1, h2{
        font-size: 24px
    }
    .cidade-container{
        display: none;
    }
}
@media(max-width: 400px){
    .container{
        width: 320px;
        height: 430px;
        padding: 14px
    }
}